body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100vh;
}
.title{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 40px;
    z-index: 10;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.search-Container{
    position: absolute;
    width: 350px;
    height: 50px;
    background-color: white;
    z-index: 30;
    top: 80px;
    left: 100px;
    border-radius: 30px;
}
.search{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search input{
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: #454e53;
    
}
.search input:focus {
    outline: none;
} 
.search i{
    color: #454e53;
    font-size: 25px;
}
.stores-list-container{
    width: 350px;
    height: 400px;
    background-color:white;
    position: absolute;
    z-index: 30;
    top: 150px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
}
.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}
.store-container{
    display: flex;
    border-bottom: 1px solid #979797;
    cursor: pointer;
}
.store-info-container{
    flex-grow: 1;
}
.store-address{
    font-size: 16px;
    font-weight: bold;
    color: #514C4C;
    margin-top: 30px;
}
.store-address span{
    display: block;
}
.store-info-container,
.store-phone-number{
    color: #B5ADAD;
    margin-top: 8px;
    margin-bottom: 8px;

}

.store-number-container {
    align-items: center ;
    display: flex;
}
.store-number{
    width: 30px;
    height: 30px;
    background-color: #454e53;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.store-container-background {
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2 ease-in-out;
}
.store-container-background:hover{
    background-color: #ccc;
}

/* /////////////////////// SCROLL BAR //////////////////////////////// */

.stores-list::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

.stores-list::-webkit-scrollbar-track {
    background: #333;
    border-radius: 30px;
    /* color of the tracking area */
}

.stores-list::-webkit-scrollbar-thumb {
    background-color: #B5ADAD;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #979797;
    /* creates padding around scroll thumb */
}

/* ///////////////////////////////////////////////////////////////////////// */

.store-info-window{
    min-width: 250px;
    font-size: 16px;
    padding: 8px;
}
.store-info-name{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
}
.store-info-status{
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}
.store-info-address,
.store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}